


.group101 {
  background-color: rgba(255,255,255,0.0);
  height: 49px;
  width: 171px;
  position: absolute;
  margin: 0;
  left: 128px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.5) !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: none !important;
  top: 30px;
  position: absolute;
  width: 100%;
  z-index:999;
}
header.bg-img {
  background-image: url(../img/homepage-path.png);
  background-size: cover;
}
.carousel-caption {
  position: absolute;
  top: 180px;
  left: 8%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: left;
  right: auto !important;
  bottom: auto !important;
}
.smartloansforsmar {
  height: auto;
  width: 479px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 2.8rem;
  color: rgba(255, 46, 46, 0.65);
  text-align: left;
  letter-spacing: 0.27px;
  line-height: 51.0px;
}
.smartloansforsmar:lang(ur) {
  height: auto;
  width: 479px;
  position: absolute;
  margin: 0;
  left: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "NotoNastaliqUrdu";
  font-size: 2rem;
  color: rgba(255, 46, 46, 0.65);
  text-align: left;
  letter-spacing: 1.27px;
  line-height: 48.0px;
}

.homepage .smartloansforsmar .span1 {
  text-align: justify;
}
.smartloansforsmar .span3 {
  color: rgba(0, 0, 0, 0.51);
  text-align: justify;
}
.lead {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 28px;
  color: #7b7b7b;
  margin-top: 15px;
}
.carousel-caption.d-none.d-md-block{
  width: 90%;
  height: 100%;
}
.img-div {
  height: auto;
  width: 479px;
  position: absolute;
  margin: 0 auto;
  float: right;
  right: 0;
  background-image: url(../img/homepage-bitmap.png);
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-500.text-center {
  color: rgba(147, 147, 147, 0.68);
  line-height: 54.0px;
}
.a01 {
  background-color: rgba(255,255,255,0.0);
  /* top: 901px; */
  /* height: 24px; */
  width: 133px;
  position: absolute;
  margin: 0;
  /* left: 198px; */
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.52;
}
.a02 {
  background-color: rgba(255,255,255,0.0);
  /* top: 870px; */
  height: 88px;
  width: 139px;
  position: absolute;
  margin: 0;
  /* left: 363px; */
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.52;
}
.bitmap1 {
  background-color: rgba(255,255,255,0.0);
  /* top: 870px; */
  height: 88px;
  width: 89px;
  position: absolute;
  margin: 0;
  /* left: 556px; */
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.52;
}
.a01, .a02, .bitmap1 {
  height: auto !important;
  left: 11%;
}

img.a01 {
  top: 27px;
}

.col-2 {
  background: white;
  width: 100%;
  height: 90px;
  position: relative;
  margin: 0 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}

.bitmap1 {
  height: auto !important;
  left: 27% !important;
}
.display-flex{
  display: flex;
}
.col-3-custom {
  height: auto !important;
}
.col-2-custom {
  width: 80% !important;
  flex: 0 0 15.566667%;
  max-width: 16.666667%;
}
.col-5-custom {
  margin: 30px auto !important;
}
.col-2-custom, .col-3-custom{
  background: white;
  width: 100%;
  height: 90px;
  position: relative;
  margin: 0 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}
img.bitmap3 {
  height: 236px;
  width: 237px;
  margin: 0;
}
.prod-text {
  padding: 0 1.25rem;
  text-align: left;
  color: rgba(55, 55, 55, 0.65);
}
p.card-text.m-0 {
  color: rgba(100, 100, 100, 1.0);
  font-size: 17px;
}

p.card-text {
  color: rgba(250, 24, 24, 0.63);
}
img.img-slider {
  position: absolute;
  right: 0;
  bottom: 90px;
  z-index: 99;
  width: 60%;
}
.btn-circle-cus {
  background-color: rgb(254, 88, 88) !important;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 110%;
}
.col-5-custom {
  margin: 30px auto !important;
}

.rectangle3 {
  background-color: rgba(255, 255, 255, 1.0);
  height: 4px;
  width: 140px;
  margin: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
}

.rectanglecopy9 {
  background-color: rgba(255, 255, 255, 0.5);
  height: 4px;
  width: 342px;
  position: absolute;
  margin: 0;
  left: 155px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mb-4-5 {
  margin-bottom: 1.9rem !important;
}

.mt-6 {
  margin-top: 3.8rem!important;
}

.howitworks {
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: 0.38px;
  line-height: 51.0px;
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 63.0px;
}

          .howitworks:lang(ur){
            color: rgba(255, 255, 255, 1.0);
            text-align: left;
            letter-spacing: 0.38px;
            line-height: 51.0px;
            font-family: "NotoNastaliqUrdu";
            font-size: 63.0px;
          }

.howitworksText {
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0) !important;
  text-align: left;
  letter-spacing: 0.1px;
  line-height: 19.0px;
  width: 100%;
  position: absolute;
  top: 100px;
}

          .howitworksText:lang(ur) {
            font-family: "NotoNastaliqUrdu";
            font-size: 16.0px;
            color: rgba(255, 255, 255, 1.0) !important;
            text-align: left;
            letter-spacing: 0.1px;
            line-height: 19.0px;
            width: 100%;
            position: absolute;
            top: 100px;
          }

.col-4-custom-howitworks {
  position: absolute;
  top: 13%;
  left: 10%;
}

.box-shad-light {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}


/**********************************************LOAN FORM START***********************************************************************/
.loan-form {
  width: 90%;
  margin: 0 auto;
  margin-top: 7.8rem!important;
}

.loan-form-text {
  font-size: 71px;
  color: rgba(255, 255, 255, 1.0);
  letter-spacing: 0.5px;
  line-height: 77px;
  font-weight: 400;
  bottom: 0px;
  margin-top: 120px;
}

.sec-loanform {
  background: url(../img/loan-form-mask.png);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 490px;
}

.loan-form-text::before {
  content: "";
  background: url(../img/loan-form-bitmap-1.png);
  width: 560px;
  height: 520px;
  background-size: contain;
  z-index: 9999;
  position: absolute;
  margin-bottom: 210px;
  left: 110px;
  background-repeat: no-repeat;
  top: 90px;
}

.loan-form-text::after {
  content: "";
  background: url(../img/loan-form-bitmap.png);
  width: 560px;
  height: 520px;
  background-size: contain;
  z-index: 9999;
  position: absolute;
  margin-bottom: 210px;
  right: -40px;
  background-repeat: no-repeat;
  top: 52px;
}
.personaldetail {
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: left;
  letter-spacing: 4.75px;
  line-height: 29.0px;
  text-transform: uppercase;
}
          .personaldetail:lang(ur) {
            font-family: "NotoNastaliqUrdu";
            font-size: 24.0px;
            color: rgba(74, 73, 74, 1.0);
            text-align: left;
            letter-spacing: 4.75px;
            line-height: 29.0px;
            text-transform: uppercase;
          }
.incomedetail {
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: left;
  letter-spacing: 4.75px;
  line-height: 29.0px;
}
.personalphoto.text-left {
  letter-spacing: 2.97px;
  line-height: 18.0px;
  font-size: 15.0px;
  color: rgba(0, 0, 0, 1.0);
  font-weight: 400;
}

.photodescription {
  letter-spacing: 1.27px;
  font-size: 15px !important;
}
.rectangle {
  background-color: rgba(255,255,255,0.0);
  height: 79px;
  box-sizing: border-box;
  width: 263px;
  position: absolute;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 1.0);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.img-form {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/**********************************************LOAN FORM END***********************************************************************/
fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: -0.75rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  left: 0;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;

  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #337ab7;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #337ab7;
  border-color: #337ab7;
}
.radio label:hover .helper {
  color: #337ab7;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #337ab7;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #337ab7;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}



/**********************************************PRODUCT PAGE START***********************************************************************/
.gallery-wrap .img-big-wrap img {
  height: 450px;
  width: auto;
  display: inline-block;
  cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
  width: 30%;
  height: 150px;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}

.gallery-wrap .img-small-wrap {
  text-align: center;
}
.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}

.img-big-wrap {
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}
.gallery-wrap .img-big-wrap img {
  height: 450px;
  width: auto;
  display: inline-block;
  cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
  width: 30%;
  height: 150px;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}

.gallery-wrap .img-small-wrap {
  text-align: center;
}
.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}

.img-big-wrap {
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px rgba(0, 0, 0, 0);
}

.product-cost {
  color: rgba(254, 73, 73, 1.0);
}

.productname {
  font-family: "AzoSans-Light", Helvetica, Arial, serif;
  font-size: 45.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 65.0px;
}

dl.param.param-inline {
  display: -webkit-inline-box;
}
.add-to-cart {
  border-radius: 30px;
  background-color: rgba(247, 176, 79, 1.0);
  border: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}
.buttons {
  position: relative;
  width: 130%;
}
.span4 .img-left {
  float: left;
}
.span4 img {
  margin-right: 10px;
}
.bg-light-color {
  background: #00000008;
}
.moreexclusiveoffer {
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 45.0px;
  color: rgba(147, 147, 147, 0.68);
  text-align: center;
  line-height: 54.0px;
}
          .moreexclusiveoffer:lang(ur) {
            font-family: "NotoNastaliqUrdu";
            font-size: 45.0px;
            color: rgba(147, 147, 147, 0.68);
            text-align: center;
            line-height: 54.0px;
          }
.details-btn {
  border-radius: 30px;
  background-color: rgba(247, 176, 79, 1.0);
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 18.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: 0.3px;
  line-height: 20.0px;
}
.img-more-offers {
  width: 150px;
  height: 180px;
}
/**********************************************PRODUCT PAGE END***********************************************************************/
.signup-page {
  top: 0;
    background: url(../img/sign-in-rectangle-copy-14.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 850px;
}

.signup-mainmenu {
  z-index: 99;
}

.whetheryouhaveac {
  font-family: "Helvetica-Light", Helvetica, Arial, serif;
  font-size: 36.0px;
  color: #7b7b7b;
  text-align: left;
  letter-spacing: -0.54px;
  line-height: 44.0px;
}
          .whetheryouhaveac:lang(ur) {
            font-family: "NotoNastaliqUrdu";
            font-size: 36.0px;
            color: #7b7b7b;
            text-align: left;
            letter-spacing: -0.54px;
            line-height: 44.0px;
          }
.signup-form {
  margin-top: 0 !important;
  margin-bottom: 25%;
}
.text-top {
  top: 20%;
  position: absolute;
}
.card-signup {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -38%;
}
.img-top-signup {
  right: 0;
  position: absolute;
  top: 20%;
}
footer.bg-image.context-dark.footer-classic.mt-6.section {
  margin-bottom: 3.8rem !important;
}
.cart-heading {
  font-family: "AzoSans-Bold", Helvetica, Arial, serif;
  font-size: 40.0px;
  color: rgba(69, 69, 69, 1.0);
  letter-spacing: 3.2px;
  line-height: 58.0px;
  border-left: 5px solid grey;
  padding-left: 3rem;
  text-transform: uppercase;
}

          .cart-heading:lang(ur) {
            font-family: "NotoNastaliqUrdu";
            font-size: 40.0px;
            color: rgba(69, 69, 69, 1.0);
            letter-spacing: 3.2px;
            line-height: 58.0px;
            border-left: 5px solid grey;
            padding-left: 3rem;
            text-transform: uppercase;
          }
.cart-product-container {
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}

img.media-object {
  max-width: 230px;
    width: 84px;
}
.table td, .table th {
  vertical-align: middle !important;
}
.bg-image-productpage {
  opacity: 0.13;
  position: absolute;
  width: 100%;
  height: auto;
}
.for-icon-border {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.input-search {

  left: 3%;
}

.bg-orange {
  background-color: rgb(253, 178, 69) !important;
}

input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}
.rangeslider input{
    position: absolute;
}

.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
}
img.img-left.img-more-offers.img-product-bestseller {
  width: auto !important;
}
.menu-signup {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgb(247, 79, 79) !important;
}
.menu-text {
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(136, 136, 136, 1.0);
  text-align: left;
  letter-spacing: 0.67px;
  line-height: 19.0px;
  margin-right: 14px;
}
.menu-text:lang(ur) {
  font-family: "NotoNastaliqUrdu";
  font-size: 18.0px;
  color: rgba(136, 136, 136, 1.0);
  text-align: left;
  letter-spacing: 0.67px;
  line-height: 19.0px;
  margin-right: 14px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

i.fa.fa-shopping-cart {
  font-size: 20px;
}


          .rights:lang(ur){
            font-family: "NotoNastaliqUrdu";
          }

          h1.centr {
            position: absolute;
            left: 60%;
            text-align: left;
            top: 38%;
            color: white;
            font-size: 58px;
          }
          .font:lang(ur){
            font-family: "NotoNastaliqUrdu";
          }